* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto 100%;
    min-height: 100vh;
    height: 100vh;
}

header {
    width: 100vw;
    box-shadow: 0px 10px #00000077;
}

a{
    color: white;
    text-decoration: none;
}

    a:hover {
        color: #2090BF;
    }

.header-overskrift {
    text-align: center;
    margin: 0px;
    padding: 0.5em;
    font-size: 75px;
    color: white;
    font-weight: bold;
}

ul {
    margin: 0px;
    padding: 0px;
    background-color: #20BF9E;
    font-size: 50px;
    list-style-type: none;
    text-shadow: 0px 2px #000000AA;
}

li {
    color: white;
    padding: 0.5em;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

main {
    width: 100vw;
}

.main-text-container {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: center;
    margin: 30px;
}

.main-about-text {
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    width: 90vw;
    max-width: 100%;
    max-height: 100%;
    background-color: #2090BF;
    color: white;
    /*border-radius: 25px;*/
    box-shadow: 0px 10px #00000077;
    margin-bottom: 15px;
}

.main-about-img {
    width: 90vw;
    max-width: 100%;
    max-height: 100%;
    /*border-radius: 25px;*/
    box-shadow: 0px 10px #00000077;
    margin-bottom: 15px;
}

.main-text2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 25px;
}

.main-skills {
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    width: 90vw;
    max-width: 100%;
    max-height: 100%;
    background-color: #2090BF;
    color: white;
    /*border-radius: 25px;*/
    box-shadow: 0px 10px #00000077;
}

footer {
    position: absolute;
    width: 100vw;
    margin-top: auto;
}

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 125px;
    background-color: #20BF9E;
    color: white;
    text-align: center;
    text-shadow: 0px 2px #000000AA;
}

/*projekter side*/

.grid__container {
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
    justify-content: center;
}

.grid__items {
    padding: 50px;
    text-align: center;
    color: white;
}

.grid__item1 {
    width: 90vw;
    max-width: 100%;
    max-height: 100%;
}

/*om mig side*/

.om_mig__flex {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: center;
    margin: 30px;
}

.om_mig__text {
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    width: 90vw;
    max-width: 100%;
    max-height: 100%;
    background-color: #2090BF;
    color: white;
    /*border-radius: 25px;*/
    box-shadow: 0px 10px #00000077;
    margin-bottom: 15px;
}

.om_mig__img {
    width: 90vw;
    max-width: 100%;
    max-height: 100%;
    /*border-radius: 25px;*/
    box-shadow: 0px 10px #00000077;
    margin-bottom: 15px;
}

/*kontakt side*/

.kontakt__flex-container{
    margin: 35px;
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    color: white;
}

.kontakt__text-box {
    margin-top: 15px;
    height: 20px;
    width: 90%;
}

.kontakt__text-box--stor {
    margin-top: 15px;
    height: 125px;
    width: 90%;
}


/*media query*/
@media only screen and (min-width: 828px) {
    .flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    .main-text-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 0px;
        margin-top: 30px;
    }

    .main-about-text {
        width: 35vw;
    }

    .main-about-img {
        width: 35vw;
    }

    ul {
        margin: 0px;
        padding: 0px;
        font-size: 30px;
    }

    .header-overskrift {
        font-size: 50px;
        margin-right: auto;
        text-align: left;
    }

    .main-skills{
        width: 80vw;
    }


    /*projekter side media*/

    .grid__container {
        display: grid;
        grid-template-areas:
            "a b"
            "c d"
            "e f";
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
    }

    .grid__item1 {
        width: 25vw;
    }

    /*om mig side media*/

    .om_mig__flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .om_mig__text {
        width: 35vw;
    }

    .om_mig__img {
        width: 35vw;
    }

    /*kontakt side media*/

    .kontakt__text-box {
        width: 50%;
    }

    .kontakt__text-box--stor {
        width: 50%;
    }

}